<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Polland</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body data-ng-app="VoteApp">
  <div class="content" data-ng-controller="MainCtrl">
      <div class="polls-viewport">
        <h1>Welcome to Poll-land.</h1>
        <span class="test-list" data-ng-repeat="user in list">{{user}}</span>
      </div>
      <div class="user-ctrl-bar">
      <div data-ng-style="show_user()" class="user-ctrl-panel">
          <h1>Welcome {{activeUser.username}}.</h1>

          <button type="button" data-ng-click="userLogout()">Logout</button>
      </div>
        <form class="login-area" data-ng-style="show_login()" data-ng-submit="ProcessLoginDetails()"><h2>{{registerMode}}</h2><p>Username</p><input data-ng-model="LoginDetails.username" class="well" type="text" /><p>Password</p><input data-ng-model="LoginDetails.password"  class="well" type="text"/><p><button type="submit">Submit</button><button type="button" data-ng-click="toggleRegister()">{{toggleRegisterTxt}}</button></p></form>
      </div>
  </div>
</body>
</html>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
