<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Polland</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js'></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="lib/moment.min.js"></script>
    <script type="text/javascript" src="lib/livestamp.min.js"></script>
</head>
<body data-ng-app="VoteApp">
  <div class="content" data-ng-controller="MainCtrl" ng-init="package = <%= packageForAngular %>;init(package)">
	  
      <div class="polls-viewport">
		  <h1 id="recentPolls">Recent Polls:</h1>
		  	<!-- LOAD OTHERS' POLLS TO CHECKOUT AND VOTE ON -->
			  <div id="otherPolls" class="flex-container poll-list">
			  	<div data-ng-repeat="poll in otherPolls" class="poll-thumb" data-ng-style="pollType(poll)"><a class="blueless-link" data-ng-href="/poll/{{poll.link}}">
					<div style="position:absolute;top:10px;"><span>Posted </span><span data-livestamp="{{poll.postDate}}"></span></div>
					<span><h3>{{poll.question}}</h3></span>
					<span style="position:absolute;bottom:0;"><h2>{{getTotalVotes(poll)}} Votes</h2></span>
				</a></div>
			  </div>
		  	<!-- LOAD OTHERS' POLLS TO CHECKOUT AND VOTE ON -->
		  
		  
		  <div id="title">
			  <% if (user) { %>
	        <h1 style="font-size:4em;">Welcome back to Poll-land.</h1>
			  <% } else { %>
			<h1 style="font-size:4em;">Welcome to Poll-land.</h1>
			  <% } %>
		  </div>
      </div>
	  <!------------------------------------------------------------------------------------->
      <div class="user-ctrl-bar">
		  <!------------------------------------------------------------------------------------->
		      <% if (user) { %>
		  
		  <div class="user-ctrl-panel">
			  <h1><a style="text-decoration:underline" class="blueless-link" href="/profile"><%= user.local.username  %></a>'s Polls:</h1>

			  <!-- LOAD USER'S POLLS TO MANAGE -->
			  <div id="myPolls" class="flex-container poll-list">
				<div class="poll-thumb add-poll-btn"><a class="blueless-link" href="/newpoll"><span><h3>Create a New Poll</h3></span><p class="big-plus vert-centered">+</p></a></div>
			  	<div data-ng-repeat="poll in myPolls" class="poll-thumb"><a class="blueless-link" data-ng-href="/poll/{{poll.link}}">
					<span><h3>{{poll.question}}</h3></span>
					<span>{{getTotalVotes(poll)}} Votes</span>
				</a></div>
			  </div>
			  <!-- LOAD USER'S POLLS TO MANAGE -->

		  </div>
		      <% } else { %>
		  <!------------------------------------------------------------------------------------->
		  <div class="login-area vert-centered">
		  	<a href="/login" class="btn btn-default"><h1><span class="fa fa-user"></span> Login</h1></a>
          	<a href="/signup" class="btn btn-default"><h1><span class="fa fa-user"></span> Signup</h1></a>
		  </div>
		  	  <% } %>
      </div>
	  <!------------------------------------------------------------------------------------->
  </div>
</body>
</html>


