<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Polland</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body data-ng-app="VoteApp">
  <div class="content" data-ng-controller="MainCtrl">
	  
      <div class="polls-viewport">
		  <div id="title">
	        <h1>Welcome to Poll-land.</h1>
		  </div>
      </div>
	  <!------------------------------------------------------------------------------------->
      <div class="user-ctrl-bar">
		  <!------------------------------------------------------------------------------------->
		  <div data-ng-if="activeUser" class="user-ctrl-panel">
			  <h1>Welcome {{activeUser.username}}.</h1>

		  </div>
		  <!------------------------------------------------------------------------------------->
		  <div class="login-area vert-centered">
		  	<a href="/login" class="btn btn-default"><h1><span class="fa fa-user"></span> Login</h1></a>
          	<a href="/signup" class="btn btn-default"><h1><span class="fa fa-user"></span> Signup</h1></a>
		  </div>
      </div>
	  <!------------------------------------------------------------------------------------->
  </div>
</body>
</html>


