<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Polland View Poll</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" type="text/css" href="style-0.css">
	<style>
        body        { text-align:center; padding-top:80px; color:inherit; background-color: #eee;  }
		a			{ color:yellow }
		.form-group {
			background-color:white;
			border:1px solid lightgrey;
			border-radius: 7px;
			font-size:1.5em;
			padding-top: 10px;
			padding-bottom: 10px;
		}
    </style>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="Chart.min.js"></script>
    <script type="text/javascript" src="chartviewer.js"></script>
</head>
<body>
<div class="container" data-ng-app="chartViewer" data-ng-controller="MainCtrl" ng-init="package = <%= package %>;init(package)">
	<h1 style="margin-bottom:20px;">{{poll.question}}</h1>
	<% if (!isAuthor) { %>
	<div id="voting-page" data-ng-show="!voted">
		<form data-ng-submit="vote()">
				<div class="form-group" data-ng-repeat="choice in poll.choices">
					<input type="radio" data-ng-model="formData.voteFor" value="{{$index}}"><span>  </span>{{choice.choice}}
				</div>
				<button type="button" class="btn btn-lg btn-success btn-block" data-ng-click="addChoice()">Add a Choice</button>
				<button type="submit" class="btn btn-lg btn-primary btn-block">Vote</button>
		</form>
	</div>
	<% } %>
	<div id="results" data-ng-show="voted">
		<div class="col-sm-6 col-sm-offset-3" data-ng-show="hasData()">
			<canvas id="chart" width="400" height="400"></canvas>
		</div>
		<div style="color:grey">
			<h1 data-ng-show="!(hasData())">No Data yet.</h1>
			<h3>Share this poll: {{link}}</h3>
		</div>
	</div>
</div>
</body>
</html>
