<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Polland View Poll</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" type="text/css" href="style-0.css">
	<style>
        body        { text-align:center; padding-top:80px; color:white; background-color: #eee;  }
		a			{ color:yellow }
    </style>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="Chart.min.js"></script>
    <script type="text/javascript" src="chartviewer.js"></script>
</head>
<body>
<div class="container" data-ng-app="chartViewer" data-ng-controller="MainCtrl" ng-init="package = <%= poll %>;init(package)">

<div class="col-sm-6 col-sm-offset-3">
	<canvas id="chart" width="400" height="400"></canvas>
</div>

</div>
</body>
</html>
