*{
    box-sizing: border-box;/*reset page*/
}
body {
  margin: 0;/*reset page*/
  height: 100vh;
  background-color: #eee;
}
.content {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.vert-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vert-centered-txt{
	line-height: 40px;
}
/* BASICS ^ */
h1{
  margin: 0;
}
ul{
  margin: 0;
	padding: 0;
}
/* RESET */
/* CUSTOM */
/* the white part */
.polls-viewport{
  position: relative;
  display: block;
  width: 100%;
  height:55%;
}
#recentPolls{
	position: absolute;
	left: 40px;
	top: 40px;
	
	text-shadow: 3px 3px 20px #bbb;
}
/* 'POLL-LAND' */
.polls-viewport #title{
  position: absolute;
  bottom:0;
  text-transform: uppercase;
  font-style: italic;
  transition: all 0.5s ease-in-out;
	
  text-shadow: 3px 3px 20px #bbb;
}
/* the red part */
.user-ctrl-bar{
  position: relative;
  display: block;
  width: 100%;
  height:45%;
  color: aliceblue;
	/* box shadow */
	
	box-shadow: 0px 0px 25px black;
	
	/* gradient */
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#cb3434, #b62f2f, brown); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#cb3434, #b62f2f, brown); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#cb3434, #b62f2f, brown); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#cb3434, #b62f2f, brown); /* Standard syntax */
}
/* centers and sizes forms */
.login-area{
  text-align: center;
  width:70%;
  transition: all 0.5s ease-in-out;
}
/* form element darken transparent, well effect */
.well{
 height:50px;
 font-size: 1.5em;
 padding: 0 2px 2px 12px;
 margin: 0 2% 2% 2%;
 border-radius: 10px;
 border:2px inset rgba(0,0,0,0.5);
 background-color: rgba(0,0,0,0.5);
 color: aliceblue;
}
/* form element button design */
.login-area a, .login-area button{
 padding: 10px 20px 10px 20px;
 margin: 0 1% 0 1%;
 border:2px outset rgba(200,200,200,0.7);
 border-radius: 10px;
 background-color: rgba(200,200,200,0.7);
	
	/* box shadow */
	
	box-shadow: 5px 5px 20px #3d1010;
	
}
/* form element button design when selected */
.login-area a:active{
 background-color: rgba(200,200,200,0.7);
}
/* stuff inside red part when logged in */
.user-ctrl-panel{
    position: absolute;
    left:40px;
}
.user-ctrl-panel h1{
    margin-bottom: 15px;
}


/* poll sideways list */
#myPolls{
 transition: all 0.2s ease-in-out; 
}
#otherPolls{
	position: absolute;
	top:20%;
 transition: all 0.2s ease-in-out; 
}
.flex-container {
  -webkit-flex-direction: row; /* Safari */
  flex-direction:         row;
  display: flex;
}
.polls-viewport .poll-thumb{
	background-color: rgba(255,255,255,0.7)
}
.user-ctrl-bar .poll-thumb{
	background-color: rgba(255,200,200,0.4)
}
.user-ctrl-bar .poll-thumb:first-child{
	background-color: rgba(0,156,0,0.7);
}
.poll-thumb{
	position:relative;
	margin:20px 0px 20px 20px;
	padding:20px;
	width:27vh;
	height:27vh;
	box-shadow: 3px 3px 10px grey;
	border:3px solid turquoise;
	border-radius:10px;
	cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	overflow:hidden;
	
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}
.add-poll-btn{
	text-align:center;
}
.big-plus{
	position: absolute;
	font-size: 10em;
	line-height: 0.5em;
	margin:0;
}
.blueless-link, .blueless-link:hover, .blueless-link:active{
	color:inherit;
	outline:none;
	text-decoration:none; 
}

select {
	width:30%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}
option{
	padding:10px 0px 10px 0px;
	height:34px;
	border-bottom: 1px solid lightgrey;
}